{{!-- app/templates/application.hbs --}}
<div class="app-container">
  {{!-- Header --}}

      {{#if (eq this.router.currentRouteName "home")}}
            {{outlet}}

{{else}}
  <header class="app-header">
        <img class="logo" src="/assets/d.png"/>

    {{#if this.aiAgents.error}}
      <h1>Erreur</h1>
    {{/if}}
  </header>

  {{!-- Contenu principal --}}
  <main class="app-main">
      <ModalDialog/>

    <div class="content">
      {{outlet}}
    </div>
  </main>

  {{!-- Footer --}}
  <footer class="app-footer">
          <img class="logo" src="/assets/basiline_verte.png"/>

  </footer>
{{/if}}

</div>



