
{{#if (eq this.state "start")}}
  <button class="big-round-button" aria-label="Start" type="button" {{on "click" this.onClick}}>
    <img src="assets/pencil-svgrepo-com.svg"/>
  </button>
{{/if}}

{{#if (eq this.state "pause")}}
  <button class="big-round-button-pause" aria-label="Pause" type="button" {{on "click" this.onClick}}>
    <img src="assets/pencil-drawing-svgrepo-com.svg"/>
  </button>
{{/if}}

{{#if (eq this.state "resume")}}
  <button class="big-round-button-resume" aria-label="Resume" type="button" {{on "click" this.onClick}}>
    <img src="assets/pencil-svgrepo-com.svg"/>
  </button>
{{/if}}
